<%- include("../layout/header.ejs", {title: "Lista de Checklists"}) %>
<%- include("../layout/menu.ejs", {title: "Lista de Checklists"}) %>
    <section>
        <% checklists.forEach((checklist)=>{ %>
            <div>
                <h2><%= checklist.name %></h2>
                <h5><%= checklist.tasks.length %> tarefa(s)</h5>
                <a href="/checklists/<%=checklist._id%>">   <!-- href recebe um link de url, e não de arquivo -->
                    <button>Ver</button>
                </a>
                <button>Editar</button>
                <button>Remover</button>
            </div>
        <% }) %>
    </section>
<%- include("../layout/footer.ejs") %>
